.broadcast-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.broadcast-loading__box {
  background: #707070;
  color: #000000;
  font-weight: bold;
  padding: 40px;
  border-radius: 20px;
}
