.catalog-broadcast {
  margin-bottom: 85px;
}

.catalog-broadcast__description {
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  font-weight: 17px;
}

.catalog-broadcast__products-container {
  display: flex;
  flex-direction: column;
}

.catalog-broadcast__add-button-container {
  display: flex;
  justify-content: center;
  background: #ffffff;
  margin: 15px;
  border-radius: 10px;
  padding: 10px 0;
  align-items: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.catalog-broadcast__add-button-container > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  color: #ff5500;
  font-size: 32px;
}

.catalog-broadcast__add-button-container > div:last-child {
  position: relative;
  top: 2px;
  color: #414141;
  font-weight: 600;
}

.catalog-broadcast__products {
  display: flex;
  flex-direction: column;
  margin: 0 10px 10px 10px;
  border-radius: 20px;
  background: #707070;
}

.catalog-broadcast__add-button-container__lists {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 10px 15px;
  border-radius: 20px;
}

.catalog-broadcast .catalog-broadcast__products .product-box {
  width: auto;
  margin: 0;
}

.catalog-broadcast .catalog-broadcast__submit-button {
  margin-top: 10px;
  width: 100%;
  color: white !important;
  background: #f0aa86 !important;
}

/*  Override selectable  TODO: Remove style from selectable*/
.catalog-broadcast .catalog-broadcast__products .selectable {
  padding: 0;
}

.catalog-broadcast .catalog-broadcast__products .selectable-card {
  border: none;
  width: 47%;
  margin: 5px;}

.catalog-broadcast .catalog-broadcast__products .selectable-card .selectable {
  width: 100%;
  border: none;
}

.catalog-broadcast
  .catalog-broadcast__products
  .selectable-card
  .selectable.selected {
  border-radius: 4px;
  background: none;
}

.catalog-broadcast
  .catalog-broadcast__products
  .selectable-card
  .selectable.selected
  .check {
  visibility: visible;
}

.catalog-broadcast .catalog-broadcast__products .selectable .check {
  position: absolute;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 0;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  border: 4px solid #7FA7C4;
  background: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 20px;
  color: white;
}
