.filter-orders {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #707070;
}

.filter-orders__box-selection {
  background: #ffffff;
  border: 1px solid #333333;
  margin: 0 20px;
  border-radius: 10px;
  padding: 10px;
}

.filter-orders__box-selection > div {
  margin-bottom: 10px;
}

.filter-orders__box-selection__title {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: #000000;
}

.filter-orders__box-selection__start-from,
.filter-orders__box-selection__end-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-orders__box-selection__start-from > div:first-child,
.filter-orders__box-selection__end-date > div:first-child {
  width: 40px;
}

.filter-orders__box-selection__start-from > div:nth-child(2),
.filter-orders__box-selection__end-date > div:nth-child(2) {
  margin-right: 5px;
}
.filter-orders__box-selection__start-from input[name="startDate"],
.filter-orders__box-selection__end-date input[name="endDate"] {
  width: 150px;
}

.filter-orders__box-selection__start-from
  input[type='date']::-webkit-clear-button,
.filter-orders__box-selection__end-date
  input[type='date']::-webkit-clear-button,
.filter-orders__box-selection__start-from
  input[type='time']::-webkit-clear-button,
.filter-orders__box-selection__end-from
  input[type='time']::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}

.filter-orders__box-selection__start-from input[name='startTime'],
.filter-orders__box-selection__end-date input[name='endTime'] {
  width: 78px;
  padding: 10px 7px;
}

.filter-orders__box-selection__start-from input[name="startDate"],
.filter-orders__box-selection__end-date input[name="endDate"],
.filter-orders__box-selection__start-from input[name='startTime'],
.filter-orders__box-selection__end-date input[name='endTime'] {
  border: 2px solid #333333 !important;
  border-radius: 5px !important;
}

.filter-orders__box-selection__start-from input[name='startTime']::-webkit-input-placeholder,
.filter-orders__box-selection__end-date input[name='endTime']::-webkit-input-placeholder {
  font-size: small;
}


.filter-orders__box-selection__start-from .ui.input > input,
.filter-orders__box-selection__end-date .ui.input > input {
  color: #333333 !important;
}

.filter-orders__box-selection__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-orders__box-selection__actions a {
  flex: 1;
}

.filter-orders__box-selection__actions__back-button {
  border: 2px solid #333333;
  padding: 10px 15px;
  border-radius: 15px;
  margin: 0 15px;
  display: flex;
}

.filter-orders__box-selection__actions__button {
  border-radius: 15px;
  padding: 10px 15px;
  margin-right: 15px;
  margin-left: 0px;
  flex: 1;
  text-align: center;
  color: white !important;
  background: #333333 !important;
}
