.product-group__pane {
  display: flex;
  flex-direction: column;
  background: #707070;
  margin: 20px 10px;
  border-radius: 20px;
  padding: 20px 10px 10px 10px;
}

.product-group__pane > * {
  margin-bottom: 15px;
}
