.product {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.product > * {
  margin: 10px 0px;
}
.product__more-properties {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
  color: #a2a2a2;
}

.product__more-properties__add {
  font-size: 40px;
}

.product__more-properties-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.product__more-properties-detail span:first-child {
  font-size: 16px;
  font-weight: 600;
}

.product__prize-quantity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}
.product__prize-quantity span {
  flex: 1;
}

.product__factor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__factor-left {
  flex-direction: column;
  display: flex;
  width: 250px;
}

.product__factor-left span:nth-child(1) {
  font-size: 12px;
  font-weight: bold;
}

.product__factor-left span:nth-child(2) {
  font-size: 10px;
  width: 190px;
}

.product__mapped-properties {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.product__charge {
  background: white;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.product_charge-sub-container {
  background: white;
}

.product__charge,
.product_charge-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__kerry-detail {
  display: flex;
  flex-flow: column;
}

.product__kerry {
  display: flex;
  justify-content: space-between;
  background: white;
  width: 100%;
}

.product__factor__header {
  display: flex;
  justify-content: space-between;
}

.product__first-form,
.product__option-form,
.product__charge-form {
  display: flex;
  flex-direction: column;
  background: #707070;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 70px;
}
.product__first-form input {
  width: 10px;
}

.product__first-form > * {
  margin-bottom: 10px;
}

.product__first-form__header {
  color: white;
  font-weight: bold;
}

.product__first-form .product__first-form__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding: 5px 12px;
  margin-bottom: 10px;
  background: white;
  font-weight: 600;
  color: #6f6f6f;
}

.product__option-form__text-area {
  padding: 13px;
  border-radius: 4px;
  border-color: rgba(34, 36, 38, 0.1);
}

.product__option-form__text-area::placeholder {
  color: #c7c7c7;
}

.product__first-form .product__first-form__text-area {
  padding: 13px;
  border-radius: 4px;
  border: none;
}

.product__first-form .product__first-form__text-area.--disabled {
  opacity: 0.45;
}

.product__first-form .product__first-form__text-area::placeholder {
  color: #c7c7c7;
  font-weight: 600;
}

.product__first-form .product__first-form__text-area:focus {
  outline: none;
  border: 2px solid #333333 !important;
}

.product__charge__second {
  flex-flow: column;
}

.product__charge__reg {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.product_charge-sub__input {
  width: 50%;
}

.product__charge__extra__kerry {
  align-items: baseline;
}

.product_upload-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.product_upload-menu > button {
  margin-bottom: 10px !important;
  font-weight: 300 !important;
  background: #333333 !important;
  color: white !important;
}

.product__image-uploader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product_unit {
  display: inline-block;
  position: relative;
}

.product_unit::after {
  position: absolute;
  top: 13px;
  right: 15px;
  color: #cccccc;
}

#baht::after {
  content: '฿';
}

#qty::after {
  content: 'ชิ้น';
}

#weight::after {
  content: 'kg';
}

/* TODO: Create separate files for override CSS */
.ui .label .label {
  font-weight: bold !important;
}

.ui.card {
  width: 100% !important;
}

.ui.card > .image > img {
  height: 180px;
}

.ui.input > input {
  text-align: right;
}

.ui.input > input,
textarea {
  font-size: 16px !important;
  color: #cccccc !important;
}
.ui.toggle.checkbox input:focus:checked ~ .box:before,
.ui.toggle.checkbox input:focus:checked ~ label:before {
  background: #f0aa86 !important;
}
.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before {
  background: #f0aa86 !important;
}
.ui.selection.dropdown {
  font-size: 16px !important;
}
.ui.label {
  font-weight: 400;
  background: white;
  position: relative;
  top: 2px;
}

.ui.labeled {
  display: flex !important;
  align-items: center;
  background: white;
}

.ui.labeled.input:not([class*='corner labeled']) .label:first-child {
  font-weight: 600 !important;
}

.ui.labeled.input:not([class*='corner labeled']) .label:first-child + input {
  text-align: right !important;
  padding-right: 40px;
  border: none;
}

.ui.input > input:focus {
  border: 2px solid #333333 !important;
  border-radius: 4px !important;
}

.ui.input > textarea:focus {
  border: 1px solid #333333 !important;
}

.slider-picker > div:first-child {
  display: none;
}

.slider-picker > div:last-of-type div {
  margin: 0 !important;
}

.slider-picker > div:last-of-type div div {
  height: 50px !important;
  transform: none !important;
  padding: 0 !important;
  border-radius: none !important;
}

.slider-picker > div:last-of-type div div div {
  border-radius: 0 !important;
}

.slider-picker > div:last-of-type div div:last-child {
  clear: none !important;
}
