/* .recommends__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

/* .recommends .recommends__products {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

.recommends .recommends__products .product-box {
  width: auto;
  margin: 0;
} */

/* .recommends .recommends__products .selectable .content {
  display: inherit;
} */

/*  Override selectable  TODO: Remove style from selectable*/
/* .recommends .recommends__products .selectable {
  padding: 0;
} */

/* .recommends .recommends__products .selectable-card {
  border: none;
  margin: 0;
  width: 45%;
} */

/* .recommends .recommends__products .selectable-card:nth-child(2) {
  position: relative;
  top: 5px;
  right: 3px;
}

.recommends .recommends__products .selectable-card .selectable {
  width: 100%;
}

.recommends .recommends__products
  .selectable-card
  .selectable.selected {
  border-radius: 4px;
  background: none;
} */

/* .recommends .recommends__products
  .selectable-card
  .selectable.selected
  .check {
  visibility: visible;
}


.recommends .recommends__products .selectable .check {
  position: absolute;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  border: 4px solid #8d81b4;
  background: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 20px;
  color: white;
}


.recommends__banner {
  color: #1a1a1a;
  padding: 10px 0px;
  font-weight: bold;
  text-align: center;
}

.recommends .recommends__submit-button {
  margin-top: 10px;
  width: 100%;
  color: white !important;
  background: #f0aa86 !important
} */
