.setting__header {
  padding: 20px;
  font-weight: 600;

}

.setting__form {
  display: flex;
  flex-direction: column;
  margin: 0 10px 10px;
  padding: 20px;
  border-radius: 20px;
  background: #707070;
}

.setting__form > * {
  margin-bottom: 10px;
}

.setting__form .ui.input > input {
  text-align: left !important;
}

.setting__form__bank {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.setting__form__bank__detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.setting__form textarea {
  padding: 13px;
  border-radius: 4px;
  border-color: rgba(34, 36, 38, 0.1);
}

.setting__form textarea::placeholder {
  color: #c7c7c7;
}

.setting__form textarea:focus {
  outline: none;
  border: 2px solid #333333 !important;
}

.setting__button {
  margin: 0px 10px;
  margin-bottom: 10px;
}

.setting__button button {
  background: #333333 !important;
  color: white !important;
  width: 100%;
}

.setting__first-form__delivery-options {
  background: white;
  padding: 13px;
  border-radius: 10px;
  color: #6f6f6f;
}

.setting__first-form__delivery-options__title {
  font-weight: 300;
}

.setting__first-form__delivery-options .divider {
  margin: 10px 0;
}

.setting__first-form__delivery-options__options {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.setting__first-form__delivery-options__options div {
  flex: 1;
}

.setting__first-form__delivery-options__input {
  display: flex;
  align-items: center;
}

.setting__first-form__delivery-options__input {
  margin-bottom: 5px;
}
.setting__first-form__delivery-options__input span {
  font-weight: 300;
}

.setting__first-form__delivery-options__input .ui {
  text-align: right !important;
}

.setting__first-form__delivery-options__input span,
.setting__first-form__delivery-options__input .ui {
  flex: 1;
}

.setting__first-form__delivery-options__note {
  color: #6f6f6f;
  opacity: 0.5;
  font-weight: 600;
  font-size: 12px;
}

.setting__add-bank-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: white;
  border-radius: 10px;
  padding: 15px;
  color: #a2a2a2;
  cursor: pointer;
}

.setting__add-bank-button__plus {
  font-size: 30px;
}
