.update-order {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #707070;
  color: #000000;
}

.update-order__detail {
  background: #ffffff;
  border: 1px solid #333333;
  border-radius: 10px;
  padding: 20px 40px;
}

.update-order__detail__divider {
  border: 0.5px solid #333333;
  margin-top: 10px;
  margin-bottom: 15px;;
}

.update-order__detail div:first-child,
.update-order__detail div:nth-child(2) {
  text-align: center;
}

.update-order__detail__input-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  left: 20px;
}

.update-order__detail__input-data .ui.input > input {
  text-align: left;  
}

.update-order__detail__input-data > div {
  margin-bottom: 20px;
}

.update-order__detail__input-data div span {
  margin-left: 15px;
}

.update-order__detail__input-data div input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background: #333333;
  content: "";
  display: inline-block;
  visibility: visible;
}

.update-order__detail__input-data div input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background: white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 4px solid #333333;
}

.update-order__detail__input-data div input[type="text"] {
  padding: 10px 20px !important;
  font-size: 14px !important;
  border: 2px solid #333333 !important;
  border-radius: 10px !important;
  color: #000000 !important;
  margin-left: 15px;
  margin-top: 5px;
}

.update-order__detail__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.update-order__detail__back-button {
  border: 2px solid #333333;
  padding: 10px 15px;
  border-radius: 15px;
  display: flex;
}

.update-order__detail__button {
  background: #333333;
  color: white;
  border-radius: 15px;
  padding: 10px 50px;
}
