.add-button-card {
  position: relative;
  margin: 5px;
  width: 45%;
}
.add-button-card .add-button-card__card {
  margin: 0px;
}

.add-button-card__image {
  height: 200px;
}

.add-button-card__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 105px;
  background: #8d81b4;
}

.add-button-card__text {
  font-weight: bold;
  font-size: 15px;
  color: white;
}

.add-button-card__icon {
  border: 3px solid #8d81b4;
  border-radius: 50%;
  background: lightgray;
  color: white;
  padding: 15px 12px;
  font-size: 55px;
  position: absolute;
  top: 55%;
  width: 60px;
  height: 60px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
