.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 10;
}

.calendar-modal_container{
  display: flex;
  flex-direction: column;
}

.calendar-modal_bottom-bar{
  display: flex;
  position: relative;
  width: inherit;
  justify-content: space-between;
  padding: 5px 50px 20px;
}

.calendar-modal_reset-btn {
  color: #333333;
  cursor: pointer;
  
}

.calendar-modal_submit-btn {
  color: #333333;
  cursor: pointer;
  font-weight: 900;
}
