.image-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #333333;
  border-radius: 10px;
  background: white;
  height: 105px;
  width: 95px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.image-preview__image {
  flex: 1;
  overflow: hidden;
  width: 100%;
}

.image-preview__text {
  background: #333333;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white;
  width: 100%;
  padding: 5px 0;
  text-align: center;
}

.image-preview__image img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
  height: 100%;
}
