.image-uploader {
  display: flex;
  flex-wrap: wrap;
}

.image-uploader:focus {
  outline: none;
}

.image-uploader__button {
  border: 2px solid #333333;
  border-radius: 10px;
  height: 105px;
  width: 95px;
  background: white;
}

.image-uploader__add-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80px;
  margin: 10px 0;
}

.image-uploader__add-button {
  width: 65px;
}

.image-uploader__add-button img {
  position: relative;
  top: 5px;
  left: 2px;
  max-width: 100%;
  max-height: 100%;
}

.image-uploader__add-text {
  text-align: center;
  color: #6f6f6f;
  margin-top: 5px;
}

.image-uploader input[type="file"] {
  display: none;
}


.image-uploader__blur-bg {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 10;
  background: white;
}

.image-uploader__blur-bg > button {
  margin-bottom: 10px !important;
  font-weight: 300 !important;
  background: #333333 !important;
  color: white !important;
}
