.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 10;
}

.update-order__modal__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  height: 100%;
  padding: 5vh 0 10px;
}

.update-order__modal__content > div > div {
  text-align: center;
  margin-bottom: 10px;
}
.update-order__modal__content > div > p {
  text-align: center;
  color: #333333;
}


.update-order__modal__content > div > input {
  border: 2px solid #333333;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: center;
  font-family: "text-security-disc";
  -webkit-text-security: disc;
}

.update-order__modal__action {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px 50px 15px;
}

.update-order__modal__action_button {
  /* background: #333333;
  color: white;
  border-radius: 15px;
  padding: 10px 50px; */
  color: #333333;
  cursor: pointer;
  font-weight: 900;
}
