.modal__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: gray;
  z-index: 11;
}

.modal__content {
  background: white;
  height: 135px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.modal__actions {
  margin: 20px 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.modal__actions button {
  border-radius: 10px !important;
  padding: 10px 40px !important;
  box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.2) !important;
}

.modal__actions > button:first-child {
  border: 2px solid #333333 !important;
  background: white !important;
  color: #333333 !important;
}

.modal__actions > button:last-child {
  border: 2px solid #333333 !important;
  background: #333333 !important;
  color: white !important;
}
