.order-card {
  padding: 15px 20px;
  padding-bottom: 10px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.1);
}

.order-card.--packing {
  border-left: 10px solid #6565f7;
}
.order-card.--delivery {
  border-left: 10px solid #f7d865;
}
.order-card.--complete {
  border-left: 10px solid #55a18d;
}
.order-card.--waitslip {
  border-left: 10px solid #e75336;
}
.order-card.--cancel {
  border-left: 10px solid #000000;
}

.order-card__information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.order-card__information__label {
  font-weight: bold;
  color: #000000;
}

.order-card__information__data {
  color: #000000;
}

.order-card__information__label > div,
.order-card__information__data > div {
  margin-bottom: 10px;
}

.order-card__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.order-card__actions__button button {
  background: #333333 !important;
  color: white !important;
  /* padding: 10px 40px !important; */
  padding: 10px 10px !important;
  box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.2) !important;
  width: 35vw;
  flex: 2;
}

.order-card__actions__button__text {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.order-card__actions__more {
  color: #333333;
  font-weight: bold;
  flex: 1;
  text-align: center;
}

.order-card__actions__more__dropdown-icon {
  position: relative;
  top: -1px;
  left: 5px;
  border: solid #333333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.order-card__actions__more__dropdown-icon.--arrow-up {
  position: relative;
  top: 0;
  transform: rotate(-135deg);
}

.order-card__detail {
  margin-top: 20px;
  color: #21154a;
}

.order-card__detail > div {
  margin-bottom: 10px;
}

/* .order-card__detail .slip{
  /* text-align: center;
  width: 4vw;
  height: max-content;
  padding: 7px 0 0; */

.order-card__detail .slip {
  text-align: center;
  width: inherit;
}

.order-card__detail .slip > img {
  margin-left: 2vw;
  max-width: 50vw;
  border-radius: 10px;
  border: 2px solid #707070;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}
.order-card__detail .slip > div {
  font-size: 1rem;
}

.order-card__detail__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-card__detail__item__label-price {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}

.order-card__detail__summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-card__detail__summary > div:last-child {
  font-weight: 600;
}

.order-card__detail__summary__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.order-card__detail__summary__divider {
  border: 1px solid #b9b8b9;
  width: 100%;
  opacity: 0.1;
  margin: 5px 0;
}

.order-card__detail__item__label-price__label {
  position: relative;
  left: 10px;
}
.order-card__detail__item__label-price__price {
  left: 10px;
  text-align: end;
}
