.product-properties-picker-uploader {
  display: flex;
  align-items: center;
  background: white;
  height: 50px;
  width: 100%;
  z-index: 2;
  position: absolute;
  bottom: 64px;
}

.product-properties-picker-uploader__add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 100%;
  font-size: 50px;
  color: #707070;
  border-right: 1px solid #aaa8a8;
}

.product-properties-picker-uploader__image-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 100%;
}

.product-properties-picker-uploader__image-upload img {
  transform: scale(0.6);
}

.product-properties-picker-uploader > div:last-child {
  width: 100%;
}

.product-properties-picker-uploader__sketch-picker {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #707070;
  padding: 40px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.product-properties-picker-uploader__sketch-picker > div {
  width: 100% !important;
}
